* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Body Styling */
body {
    background-color: #3d3a4b;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

/* Heading */
h1 {
    font-size: 3em;
    margin-bottom: 2rem;
    animation: floatTitle 3s infinite alternate ease-in-out;
}
p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

/* Glassmorphism Quote Container */
.container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 50rem;
    width: 90%;
    opacity:0;
    min-height: 300px;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Show the container when a quote appears */
.container.show {
    opacity: 1;
}

/* Quote Styling */
h2 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 0.5rem;
    text-align: center;
    max-width: 90%;
}

h3 {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    font-style: italic;
}

/* Button */
button {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #D3C0CD;
}

.credits {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.6);
}

.credits a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.credits a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    .container {
        width: 95%;
        padding: 1.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .container {
        width: 100%;
        min-height: 120px;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
        padding: 0.6rem 1.2rem;
    }
}


/* Constant Floating Animation */
@keyframes floatTitle {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}