h1 {
    text-align:center;
    color:black;
}

h2 {
    text-align:center;
    margin-top:10rem;
}

p {
    text-align: center;
}

button {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}